*{
    margin: 0;
    box-sizing: border-box;
    
    
}

.logo{
    font-size: 40px;
    font-family: monospace;
}

.header{
    background-color: black;
}

.container-fluid{
    font-family: monospace;
    color: white;
}

body{
    background-color: gray;
    font-family: sans-serif;
}

.titulo{
    color: white;
    font-weight: bold;
    line-height: 80px;
    font-size: 30px;
    text-decoration: none;
}

.extras{
    display: flex;
}